################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Livin-Paris2/FileContentIndex/b5751605-056c-4f7d-a007-91392828fdf2.vsidx
