################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Livin-Paris2/FileContentIndex/b5751605-056c-4f7d-a007-91392828fdf2.vsidx
/.vs/Livin-Paris2/FileContentIndex/16a36dbb-3025-44a9-a220-157a7d1541f6.vsidx
/packages
